Package: com.thomasfinch.priorityhub
Name: Priority Hub
Depends: mobilesubstrate, preferenceloader
Version: 1.2
Conflicts: org.thebigboss.remindersforlockscreen, org.thebigboss.calendarsforlockscreen, com.lockinfo.lockinfo7
Architecture: iphoneos-arm
Description: Organize your lockscreen notifications!
Homepage: http://thomasfinch.me
Maintainer: Thomas Finch <tomf64@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks
