Package: com.thomasfinch.priorityhub
Name: Priority Hub
Depends: mobilesubstrate, preferenceloader
Version: 1.4.4
Architecture: iphoneos-arm
Description: Organize your lock screen notifications!
Homepage: http://thomasfinch.me
Maintainer: Thomas Finch <tomf64@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks
