title = "Notification Center";
items = (
	{
		cell = PSGroupCell;
	},
	{
		cell = PSSwitchCell;
		default = 1;
		defaults = "com.thomasfinch.priorityhub";
		key = ncEnabled;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Enabled";
	},
	{
		cell = PSGroupCell;
	},
	{
		cell = PSButtonCell;
		action = sendTestNotification;
		label = "Send Test Notification";
	},
	{
		cell = PSGroupCell;
		label = "Icons";
	},
	{
		cell = PSSegmentCell;
		default = 0;
		defaults = "com.thomasfinch.priorityhub";
		key = ncIconLocation;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Icon Location";
		validValues = (
			0,
			1
		);
		validTitles = (
			"Top",
			"Bottom"
		);
	},
	{
		cell = PSLinkListCell;
		detail = PSListItemsController;
		default = 0;
		defaults = "com.thomasfinch.priorityhub";
		key = ncIconSize;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Icon Size";
		validValues = (
			0,
			1,
			2,
			3
		);
		validTitles = (
			"Small",
			"Medium",
			"Large",
			"Full Size"
		);
	},
	{
		cell = PSGroupCell;
		label = "Number Style";
	},
	{
		cell = PSSegmentCell;
		default = 1;
		defaults = "com.thomasfinch.priorityhub";
		key = ncNumberStyle;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Number Style";
		validValues = (
			0,
			1,
			2
		);
		validTitles = (
			"None",
			"Below Icon",
			"Badge"
		);
	},
	{
		cell = PSGroupCell;
	},
	{
		cell = PSSwitchCell;
		cellClass = PHSubtitleSwitchTableCell;
		default = 1;
		defaults = "com.thomasfinch.priorityhub";
		key = ncEnablePullToClear;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Enable Pull To Clear";
		sublabel = "Clears all notifications for the selected app";
	},
	{
		cell = PSSwitchCell;
		cellClass = PHSubtitleSwitchTableCell;
		default = 0;
		defaults = "com.thomasfinch.priorityhub";
		key = ncCollapseOnLock;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "Deselect On Close";
	},
	{
		cell = PSLinkListCell;
		detail = PSListItemsController;
		default = 0;
		defaults = "com.thomasfinch.priorityhub";
		key = ncShowAllWhenNotSelected;
		PostNotification = com.thomasfinch.priorityhub-prefschanged;
		label = "When No App Is Selected";
		validValues = (
			0,
			1
		);
		validTitles = (
			"Hide All Notifications",
			"Show All Notifications"
		);
		shortTitles = (
			"Hide All",
			"Show All"
		);
	}
);
